@charset "utf-8";

h2 {
	font-size: 150%;
}
section {
	text-align: center;
	padding-top: 50px;
}
.link {
	text-align: center;
	display: inline-block;
}
.link a {
	font-size: 93.7%;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 2.7;
	background: #fff;
	box-shadow: 5px 5px #2f4224;
	border-radius: 100px;
	padding: 8px 15px 8px 0;
	white-space: nowrap;
}
.link a span {
	padding: 0 20px;
}
/* mainVisual------------------------------ */
.mainVisual {
	position: relative;
}
.mainVisual dt {
	text-align: center;
	width: calc(100% - 60px);
	padding: 0 30px;
}
.mainVisual dd {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 0 3px #4d4d4d;
	position: absolute;
	top: 60%;
	left: 10%;
	font-size: clamp(143.7%, 3vw, 168.7%);
	line-height: 2;
	white-space: pre;
}
.mv_tx span {
	color: #fff;
	font-weight: bold;
	font-size: 90%;
	display: inline-block;
	/* text-decoration: underline; */
	margin: 30px 0 0;
	background: #f292ac;
	border-radius: 100px;
	padding: 2px 20px;
	box-shadow: 5px 5px #2f4224;
}
.mv_tx span a {
	color: #fff;
	font-weight: bold;
	margin-left: 20px;
}
.mv_tx {
	font-size: 106.2%;
	line-height: 2.5;
	text-align: center;
	margin: 50px 0 60px;
}
.mv_tx .br_sp {
	display: none;
}
/* gear-------------------------------------- */
.gear {
	background: #fff590;
	padding-bottom: 70px;
}
.gear h3 {
	font-size: 112.5%;
	margin: 20px 0 50px;
	white-space: nowrap;
}
.gear .products {
	width: 100%;
	display: flex;
	justify-content: center;
}
.gear dl {
	width: 218px;
	background: #fff;
	box-shadow: 7px 7px #2f4224;
	border-radius: 20px;
	padding: 22px 25px 12px;
	margin-left: 30px;
}
.gear dl:last-child {
	margin-right: 35px;
}
.gear dl dd {
	white-space: nowrap;
	line-height: 2;
}
.gear .check {
	display: inline-block;
	background: #fee600;
	border-radius: 100px;
	margin: 10px 0;
}
.gear .check a {
	color: #000;
	font-weight: bold;
	font-size: 87.5%;
	line-height: 2.5;
	margin: 0 20px;
}
.gear .link {
	margin-top: 70px;
}
/* news------------------------------------ */
.news {
	margin-bottom: 120px;
}
.news h2 {
	margin-bottom: 50px;
}
.news dl {
	width: 75.2%;
	margin: 0 auto;
}
.news dl dt {
	margin-bottom: 10px;
}
.news dl dd {
	font-size: 110%;
	letter-spacing: 0.5px;
	text-align: left;
	line-height: 1.5;
}
.news .link {
	text-align: right;
	margin-top: 20px;
}
.news .link a {
	background: #f5f5f5;
	margin-right: 20px;
}
/* ホバー設定 */
.link:hover{
	transform: translate(5px,5px);
	transition: .2s;
}
.link a:hover {
	box-shadow: 0px 0px;
}
.mv_link:hover {
	transform: translate(5px,5px);
	transition: .2s;
	box-shadow: 0px 0px;
}
/* .mv_link a:hover {
	box-shadow: 0px 0px;
} */
.check a:hover {
	text-decoration: underline 2px;
}
/* レスポンシブ設定 */
@media screen and (max-width: 900px){
	/* gear */
	.gear .products {
		flex-direction: column;
		align-items: center;
	}
	.gear dl {
		padding-bottom: 10px;
		margin: 0 0 40px 0;
	}
	.gear dl:last-child {
		margin: 0 0 0 0;
	}
}
@media screen and (max-width: 767px){
	/* mainVisual */
	.mainVisual dd {
		display: none;
	}
	.mv_tx {
		width: calc(100% - 40px);
		margin: 50px 20px;
		line-height: 3;
	}
	.mv_tx .br_sp {
		display: inline;
	}
	/* news */
	.news {
		padding-top: 50px;
	}
	.news dl {
		width: 90%;
	}
}
@media screen and (max-width: 660px){
	/* news */
	.news .br_sp {
		display: inline;
	}
}
@media screen and (max-width: 440px){
	h2 {
		font-size: 125%;
	}
	.link a {
		font-size: 75%;
	}
	/* mainVisual */
	.mainVisual dt {
		text-align: center;
		width: calc(100% - 20px);
		padding: 10px 10px;
	}
	.mv_tx {
		font-size: 80%;
		line-height: 3;
		margin: 3% auto 5%;
	}
	/* gear */
	.gear h3 {
		font-size: 87.5%;
	}
	.gear dl {
		width: 184px;
	}
	.gear dl dd {
		font-size: 80%;
	}	
	/* news */
	.news dl dd {
		font-size: 81.2%;
	}
	.news .link {
		text-align: center;
	}
	.news .link a {
		margin-right: 0;
	}
}
